@page
@model CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>Kund</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Kund.Namn" class="control-label"></label>
                <input asp-for="Kund.Namn" class="form-control" />
                <span asp-validation-for="Kund.Namn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kund.ImportSystemTyp" class="control-label"></label>
                <select asp-for="Kund.ImportSystemTyp" asp-items="Model.ImportSystemTypList" class="form-control"></select>

                <span asp-validation-for="Kund.ImportSystemTyp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kund.BrytDatum" class="control-label"></label>
                <input asp-for="Kund.BrytDatum" class="form-control" />
                <span asp-validation-for="Kund.BrytDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kund.ConnectionStringWinLas" class="control-label"></label>
                <input asp-for="Kund.ConnectionStringWinLas" class="form-control" />
                <span asp-validation-for="Kund.ConnectionStringWinLas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kund.OmraknadWinLas" class="control-label"></label>
                <input asp-for="Kund.OmraknadWinLas" class="form-control" />
                <span asp-validation-for="Kund.OmraknadWinLas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
